.boutonRose{
    transition: transform 0.2s ease;
}
.boutonRose:hover{
    transform: scale(1.05);
}

.boutonBleu{
    transition: transform 0.2s ease;
}
.boutonBleu:hover{
    transform: scale(1.05);
}

/*darkmode*/

body.mode-sombre{
    background-color: palevioletred;
}

/*body.mode-sombre .boutonRose{
    background-colour: rgb(211, 140, 140);
}*/

/* effet machine à écrire */

.effet-machine {
    border-right: 2px solid ;
    width: fit-content;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: clignoter 0.75s, step-end infinite;
}

@keyframes clignoter{
    50%{
        border-color: transparent;
    }
}

.diaporama{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px plum;
    margin-top: 20px;
    animation: popIn 1s ease;
    display: none;
    }
@keyframes popIn{
    from{ transform: scale(0.8); opacity: 0;}
    to{ tranform: scale(1); opacity: 1;}
}

.diaporama img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transform: scale(1.3);
    transition: opacity 1s, transform 3s;
}

.diaporama img.active{
    opacity: 1;
    transform: scale(1)
}

.diaporama.show{
    display: block;
}